@page
@model MyRepoWebApp.Pages.Photos.UploadModel
@{
}

<h1>Create</h1>

<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" method="post">
            <dl>
                <dt>
                    <label asp-for="FileUpload.FormFile"></label>
                </dt>
                <dd>
                    <input asp-for="FileUpload.FormFile" type="file" accept="image/jpeg,  image/jpg">
                </dd>
                <dd>
                    <label asp-for="folderId" class="control-label"></label>
                </dd>
            </dl>
            <input asp-page-handler="Upload" class="btn btn-primary" type="submit" value="Upload">
        </form>
    </div>
</div>

<div>
    <a asp-page="./Folders/Photos/Photos">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("Shared/_ValidationScriptsPartial");}
}
