@if (User.Identity.IsAuthenticated)
{   
    <ul  class="nav navbar-right navbar-light">
        <li>            
            <a asp-page="/Folders/Folders">  Uploads  </a>
        </li>    
        <li>
            <a asp-page="/Account/Users">  Users  </a>
        </li>    
        <li>            
            <form method="post"  asp-page="/Account/Logout">Welcome @User.Identity.Name
                    <button type="submit" class="btn btn-light">Logout</button>
            </form>
        </li>
    </ul>
}
else
{
    <div class="row">
        <div class="col-sm-6">
            <a class="btn btn-secondary" asp-page="./RegisterUser">Register</a>
        </div>
        <div class="col-sm-6">
            <form method="post" class="form-inline" asp-page="/Account/Login">
                <button type="submit" class="btn btn-outline-light">Login</button>
            </form>
        </div>
    </div>
   


}
